[2018-10-18 14:49] LoosC opened #1 "new format for swameye"

[2018-10-18 14:49] LoosC opened #2 "new format for weber"

[2018-10-18 14:58] LeonardSchmiester opened #3 "new format for Becker"

[2018-10-18 15:18] LeonardSchmiester opened #4 "new format for Raia"

[2018-10-19 07:21] JanHasenauer opened #5 "new format for Brannmark_JBC2010"

[2018-10-19 07:38] LeonardSchmiester commented on #4
sigmas are not included yet

[2018-10-19 08:00] JanHasenauer opened #6 "new format for Sneyd_PNAS2002"

[2018-10-19 08:05] LeonardSchmiester opened #7 "new format for bruno_JExpBio2016"

[2018-10-19 08:06] LoosC opened #8 "include simulation with optimal parameters"
include simulation with optimal parameters in the new data format (former in the data file, simulation sheet). we agreed on having a third filel for that

[2018-10-19 08:58] LeonardSchmiester opened #9 "New column for parameter scale in general_info parameters sheet"
In parameter column write only the parameter name without log10() etc. and add a new column for the scale with lin / log / log10 etc.

[2018-10-19 09:08] LoosC opened #10 "Renaming of the scaling, offset, sigma parameters in SBML"

[2018-10-19 09:47] #10 closed, assigned to nobody

[2018-10-19 10:06] LoosC opened #11 "Formatting and naming changes"
- 1 column for observation parameters (observableParameter1;observableParameter2), 1 column for noise parameters (noiseParameter1;noiseParameter2,...), parameters separated by semicolon
- add noise model specification in the SBML add assignment rules for sigma_names
- change observable names to: observable_name

[2018-10-19 10:15] LeonardSchmiester commented on #11
- Transpose experimentalCondition table

[2018-10-19 12:00] elbaraim commented on #11
*Small remark*
What about switch column "noiseParameters" and "observableTransformation"? So that we have all the information regarding observables together and then the noise parameters.

- Data import robust to text spaces between the observation and noise parameters

[2018-10-19 12:16] elbaraim commented on #11
- New __OPTIONAL__ column: Normalization of the exp. data to max. value (see d2d). If the column is not present in the data, that means no normalization.

[2018-10-19 12:28] LeonardSchmiester commented on #11
- rename first column in measurementData from observable to observableName

[2018-10-19 12:37] dweindl commented on #11
Maybe rather `observableId`? This is more in line with the SBML Id/Name terminology

[2018-10-19 12:45] LoosC commented on #11
decided on observableID

[2018-10-19 12:50] #5 closed, assigned to JanHasenauer

[2018-10-23 10:21] dweindl commented on #11
`Id` would be slightly more readable when appended to

[2018-10-23 10:27] yannikschaelte opened #12 "Parameter bounds"
Currently, parameter bounds are only specified in the general_info file. do we keep that one? it might be good to have the lower and upper bounds on parameters in a separate file. suggest a simple tsv file w/ 3 columns (parameter_id, lower_bound, upper_bound).

[2018-10-23 10:29] LeonardSchmiester commented on #12
I would add an additional column for parameter scale

[2018-10-23 10:31] LoosC commented on #11
Then we should also use conditionId instead of conditionID in the other file

[2018-10-23 10:31] dweindl commented on #11
Absolutely.

[2018-10-27 18:24] LeonardSchmiester opened #13 "Add standard format for simulation and optimization options"

[2018-10-27 20:33] LeonardSchmiester opened #14 "new format for beer_MolBioSystems2014"
No observableParameters/noiseParameters/preequilibrationConditions yet

[2018-11-21 09:16] LeonardSchmiester commented on #11
simulationConditionId and preequilibrationConditionId

[2018-11-21 09:48] LoosC commented on #8
lets maybe discuss about that again. should have not too many files and only one column would be different.

[2018-11-21 10:11] LoosC opened #15 "new format for crauste"

[2018-11-21 10:12] LoosC opened #16 "new format for Fiedler"

[2018-11-21 10:20] LoosC opened #17 "new format for Zheng"

[2018-11-21 10:22] elbaraim opened #18 "new format for Fujita"

[2018-11-21 10:24] LeonardSchmiester opened #19 "new format for boehm_JProteomeRes2014"

[2018-11-21 10:27] elbaraim opened #20 "new format for Chen"

[2018-11-21 11:18] LeonardSchmiester commented on #12
We decided on a format for this. See Boehm model for an example

[2018-11-21 11:20] LeonardSchmiester commented on #8
Agreed again on having an additional file.

[2018-11-21 11:20] #8 closed, assigned to nobody

[2018-11-21 11:23] LeonardSchmiester commented on #9
Included in new parameter sheet

[2018-11-21 11:23] #9 closed, assigned to nobody

[2018-11-21 13:14] LoosC opened #21 "new format for bachmann"

[2018-11-21 13:15] LoosC opened #22 "new format for borghans"

[2018-11-21 13:15] LoosC opened #23 "new format for brannmark"

[2018-11-21 13:15] LoosC opened #24 "new format for Elowitz"

[2018-11-21 13:16] LoosC opened #25 "new format isensee"

[2018-11-21 13:16] LoosC opened #26 "new format for lucarelli"

[2018-11-21 13:16] LoosC opened #27 "new format for Merkle"

[2018-11-21 13:16] LoosC opened #28 "new format for Schwen"

[2018-11-21 13:17] LoosC opened #29 "new format for Sobotta"

[2018-11-21 13:32] LeonardSchmiester opened #30 "Rename "measurement" column in simulatedData files to simulatedData"

[2018-11-21 14:11] elbaraim opened #31 "observable transformation encoded in SBML"
log10 or log transformations of the observables are at the moment encoded in the SBML.
this also appears in the measurement data file

[2018-11-21 16:33] jvanhoefer commented on #21
Done, but someone should check it :)

[2018-11-21 17:21] LoosC commented on #21
I think you mean Borghans not Bachmann @jvanhoefer

[2018-11-22 07:05] LoosC commented on #20
simulatedData sheet not filled

[2018-11-22 07:06] LoosC commented on #24
simulatedData sheet needs to be filled

[2018-11-22 08:11] LoosC opened #32 "automatic generation of the simulatedData sheets"
can we include the estimated/measured noiseParameters in the automatic generation of the sheets which are not done yet? then only the observableParameters would need to be filled manually.

[2018-11-22 12:35] LeonardSchmiester commented on #19
Fixed parameters are handled as experimental conditions.

[2018-11-22 14:22] LeonardSchmiester commented on #11
- for the simulatedData sheet, write the estimated values of the observableParameters and noiseParameters in the respective columns

[2018-11-22 14:32] elbaraim commented on #28
simulatedData sheet needs to be filled

[2018-11-22 14:58] LoosC opened #33 "removing l2_v4 from SBML filename"

[2018-11-22 15:00] LeonardSchmiester commented on #19
The Something in the parameters sheet went wrong

[2018-11-22 15:24] elbaraim commented on #33
Renamed:
- Chen
- Elowitz
- Schwen

[2018-11-22 15:27] elbaraim commented on #19
- Minor: folder name in capital

[2018-11-22 15:28] elbaraim commented on #14
- Minor: folder name in capital (first letter)

[2018-11-22 22:07] jvanhoefer commented on #21
Oh, I did.

[2018-11-23 17:59] dweindl opened #34 "parameters_Zheng_PNAS2012.tsv is ODS not TSV"
parameters_Zheng_PNAS2012.tsv is an openoffice spreadsheet

[2018-11-23 18:04] LeonardSchmiester commented on #34
I think this is true for most of the parameters files at the moment.
@PhilippStaedter Can you make sure, that the files are all real tsv?

[2018-11-24 13:27] yannikschaelte commented on #12
We decided to have the values and bounds in the scaled space, e.g. loc-space, right? Would make sense to specify this in the documentation.MD.

[2018-11-24 15:34] yannikschaelte commented on #12
Done and parameter list specification given in the documentation file now. Must be done for all models.

[2018-11-24 15:34] #12 closed, assigned to nobody

[2018-11-25 11:47] LoosC opened #35 "new format for Hass"

[2018-11-25 16:09] yannikschaelte commented on #17
Question: The model is supposed to have 48 parameters, thereof 1 noise parameter. However, in the sbml file, there are number_of_observables_many, giving a total of 60 parameters. Should there maybe be only 1 noise_... parameter which is mapped to all sigma_... parameters?

[2018-11-25 16:34] yannikschaelte opened #36 "Noise parameter documentation"
Document how the noise parameter construct is meant (this lead to some problems in the import and seems to be handled not fully coherently in the converted models ...).
+ What exactly is the concept behind the sigma_... and noise_... parameters in the sbml file (again :) )?
+ How to handle condition-specific noise parameters / models?
+ What is supposed to be filled in the noiseParameters column i

[2018-11-25 16:49] dweindl opened #37 "Rounded parameter values in parameters_*.tsv"
When transferring parameter values from `General_info.xlsx` to `parameters_*.tsv`, they got rounded quite harshly to 2 digits after the comma. Was that on purpose?

[2018-11-25 16:54] dweindl opened #38 "Likelihood vs loglikelihood in model description"
E.g. Zheng model

This not the likelihood. Is it the negative loglikelihood? For all models? This should be labeled more accurately.

[2018-11-25 17:07] yannikschaelte commented on #37
Maybe we want to also upload scripts used for automatic model conversion (so far I guess there exist ones for simulated data, measured data, and parameter extraction)? So we can track such issues easily. And it makes it easier for other people to add models.

[2018-11-25 17:10] LoosC commented on #36
will add a description in the documentation, but short answer here:

- sigma_observableId specifies the full noise model, could for example also be something like: sigma_observableId = noiseParameter1_observableId + noiseParameter2_observableId * observable_observableId, but usually we have just a simple noise model with sigma_observableId = noiseParameter1_observableId

- which conditions/observa

[2018-11-25 17:13] LoosC commented on #17
as far as I understood, the mapping is only done with the measurementData sheet. So in the SBML we might have much more parameters - one for each observable - than estimated. Maybe @LeonardSchmiester can confirm?

[2018-11-25 17:15] LoosC commented on #37
no the values should be not rounded

[2018-11-25 17:29] yannikschaelte commented on #36
Thanks for clarifying. Concerning question 1: That's what I guessed. So in the Zheng model, should that one ``noise`` parameter be mapped to all ``noiseParameter1_observableId`` parameters? I.e. we have a mapping rule ``${noise} -> ${noise}Parameter1_${observableId}$ \forall ${observableId}?

Concerning question 3: By noise parameter you mean the sigma parameter in the wording of the sbml file? Or

[2018-11-25 17:36] LoosC commented on #36
yes exactly

I mean the noiseParameter in the wording of the SBML file but yes lets discuss tomorrow :)

[2018-11-25 17:44] LoosC commented on #3
the folder for becker with the automatically exported measurements seems to be missing

[2018-11-25 17:53] #33 closed, assigned to nobody

[2018-11-25 17:54] LoosC commented on #38
it is the **log-likelihood**, I changed it in the corresponding files

[2018-11-25 17:54] #38 closed, assigned to nobody

[2018-11-26 07:54] dweindl opened #39 "Document data format"
Related to #36

We should exhaustively document the current state of the data format (and possibly put a version number on it).

[2018-11-26 07:55] dweindl opened #40 "Data format validator"
Following #39, we should implement a function to check model and data files for adherence to the standard and run it over all models in the repository.

[2018-11-26 10:04] LoosC opened #41 "change column estimated -> estimate"
to make it clearer that its not an estimated value in that column we decided to change the column name to estimate

[2018-11-26 10:08] LoosC opened #42 "naming in parameter sheet for zheng"
`noise` needs to be renamed to `sigma`, also not capital letters for the parameters name (k_{00->01} rather than K_{00->01} etc)

[2018-11-26 10:12] LoosC opened #43 "Support of multiple models"
We discussed that we want to support multiple models in a way that for each model we have the corresponding files (SBML, experimentalCondition, measurementData)

[2018-11-26 10:13] #43 closed, assigned to nobody

[2018-11-26 10:53] yannikschaelte commented on #42
did it already now cause I want to use it in tests :)

[2018-11-26 10:53] #42 closed, assigned to yannikschaelte, PhilippStaedter

[2018-11-26 15:29] dweindl commented on #39
Started. Added a number of discussion points marked 'TODO'. Please think about them and let's discuss.

https://github.com/LoosC/Benchmark-Models/blob/hackathon/hackathon_contributions_new_data_format/documentation_data_format.MD

[2018-11-28 11:53] dweindl commented on #40
Started in https://github.com/ICB-DCM/PEtab/ `bin/petablint.py`.

Closing here.

[2018-11-28 11:53] #40 closed, assigned to nobody

[2018-11-28 11:54] dweindl commented on #39
Created https://github.com/ICB-DCM/PEtab/ and added more general documentation there.
Closing here.

[2018-11-28 11:54] #39 closed, assigned to dweindl

[2018-12-05 08:15] #34 closed, assigned to PhilippStaedter

[2018-12-05 08:15] #37 closed, assigned to PhilippStaedter

[2018-12-05 08:24] #41 closed, assigned to PhilippStaedter

[2018-12-05 09:14] #19 closed, assigned to LeonardSchmiester

[2018-12-05 09:19] LeonardSchmiester commented on #3
The Becker model is a bit special, because it has not only time course but also dose response data. So the measurement table has to be generated by hand.

[2018-12-05 12:37] JanHasenauer opened #44 "Remove strange species (s1, ...) added by CellDesigner"

[2018-12-05 13:32] #17 closed, assigned to LoosC

[2018-12-05 13:42] dweindl opened #45 "Isensee_JCB2018: fiveHT_level in condition table but does not exist in model"

[2018-12-05 14:23] dweindl opened #46 "Have consistent file names for all benchmark models"
Adding a script to verify. `checkNames.py`

[2018-12-05 14:24] #46 closed, assigned to nobody

[2018-12-05 14:28] elbaraim commented on #7
the sigma parameters are missing in the SBML

[2018-12-05 14:30] elbaraim commented on #35
sigma parameters are missing in the SBML file
not named as "sd_" -> "sigma_"

[2018-12-05 14:31] yannikschaelte commented on #46
once that all is unique (in particular model_ or not ...), it might also be good to create the imports with just the model name as input, not measurement file name, conditions file, parameters file etc., in https://github.com/ICB-DCM/PEtab/blob/master/petab/core.py#L13.

[2018-12-05 14:42] elbaraim commented on #15
observable_* is missing in SBML file
{'observable_Memory_obs', 'observable_LateEffector_obs', 'observable_Naive_obs', 'observable_EarlyEffector_obs'}

[2018-12-05 14:46] #3 closed, assigned to JanHasenauer

[2018-12-05 14:55] elbaraim commented on #15
sigma_* is missing in SBML file

[2018-12-05 15:04] #15 closed, assigned to LeonardSchmiester

[2018-12-05 15:06] dweindl commented on #14
[code]

[2018-12-05 15:12] dweindl commented on #20
[code]

[2018-12-05 15:18] elbaraim commented on #20
this is not the correct model
Chen model does not have these species

[2018-12-05 15:18] dweindl opened #47 "Model features to consider for setting up pypesto import"
**Beer_MolBioSystems2014**
- using `piecewise`

**Brannmark_JBC2010**
- using `piecewise`

**Isensee_JCB2018**
- using `piecewise`

**Bruno_JExpBio2016**
- parameter names in condition table

**Fiedler_BMC2016**
- timepoint-specific observableParameters

**Swameye_PNAS2003**
- events

**Weber_BMC2015**
- numeric observable overrides

[2018-12-05 15:18] dweindl commented on #20
Sorry, Raia_CancerResearch2011

[2018-12-05 15:19] dweindl commented on #4
[code]

[2018-12-05 15:19] LeonardSchmiester commented on #20
Corrected in Raia

[2018-12-05 16:00] elbaraim commented on #35
in the observable tApoER2
change observableParameter2_tApo -> observableParameter2_tApoER2

[2018-12-05 16:06] dweindl commented on #22
measurementData_Borghans_BiophysChem1997.tsv has comma as decimal separator

[2018-12-05 20:37] #44 closed, assigned to LeonardSchmiester

[2018-12-05 20:39] JanHasenauer commented on #31
For the models I transformed, I removed the log and log10 from the SBML and indicated it in the data sheet.

I would suggest that we do this for all models.

[2018-12-06 10:23] dweindl commented on #21
[code]

[2018-12-06 10:24] LoosC commented on #21
the current state of the bachmann model is only intermediate. its not finished yet, I will close the issue once its ready to be checked

[2018-12-06 10:25] dweindl commented on #23
non-existent parameter `insulin_dose_2` specified in Brannmark_JBC2010/experimentalCondition_Brannmark_JBC2010.tsv

[2018-12-06 10:31] dweindl commented on #20
[code]

[2018-12-06 10:40] #23 closed, assigned to JanHasenauer

[2018-12-06 10:41] JanHasenauer opened #48 "Automatic generation of general information file"

[2018-12-06 10:43] JanHasenauer commented on #47
The piecewise command is used in several models to implement steps. Is there another way which is already supported by (py)AMICI?

[2018-12-06 10:46] dweindl commented on #18
[code]

[2018-12-06 10:48] dweindl commented on #35
`Reelin_input` in condition table but not in model

[2018-12-06 10:48] dweindl commented on #45
Same for `DMSO_time`

[2018-12-06 12:31] LeonardSchmiester commented on #35
Reelin_input is fixed. Inh is still missing in the reactions. Inh is already replaced by 0/1 in the SBML models at multiple positions in the reactions. Might take a while to fix that.

[2018-12-06 15:36] dweindl commented on #4
Observable `scaling_observable_IL13_cell * (IL13_Rec + IL13_DecoyR + p_IL13_Rec + p_IL13_Rec_i)` does not have any parameter to override, but has `observableParameters` = `scaling_IL13_cell`

[2018-12-06 15:51] dweindl commented on #45
and NTX_level

[2018-12-06 16:06] dweindl commented on #6
Fails compilation in AMICI.

[code]

Might be an issue in AMICI, but not sure. Maybe related to parametes with time unit? Can somebody look into that?

[2018-12-06 22:15] #45 closed, assigned to nobody

[2018-12-06 22:26] JanHasenauer commented on #6
I updated the model. maybe you can try again.
I also checked that the model is valid SBML.

[2018-12-06 22:41] JanHasenauer opened #49 "The current xml file in Hass is not a valide SBML model according to http://sbml.org/Facilities/Validator"
also, it contains log observables

[2018-12-06 22:59] JanHasenauer commented on #26
experimentalCondition_Lucarelli_CellSystems2018.tsv seems to be the condition file for Fiedler_BMC2016

[2018-12-06 23:11] JanHasenauer commented on #31
I checked all models and romped the log transformation of the observables if it was specified in the data sheet. Only for Hass I left it untouched as the xml file is not valid SBML.

[2018-12-06 23:11] #31 closed, assigned to elbaraim, JanHasenauer, LoosC, LeonardSchmiester

[2018-12-06 23:18] #30 closed, assigned to nobody

[2018-12-06 23:23] JanHasenauer opened #50 "Be careful with comparison of objective function values"
For models with log-transformed observables, we have to be careful with the comparison of the objective function. Assuming that the log of a value is normally distributed is not the same as saying that the value is log-normally distributed. A 1/(measured value) is missing in the former.

For the comparison, we should account for this.

[2018-12-06 23:27] yannikschaelte commented on #41
just saying that I just had a look at the ``estimate`` column and thought at the first moment that "estimate" was a noun, i.e. that the column contains the estimated value :).

[2018-12-06 23:41] JanHasenauer commented on #41
hm, TRUE / FALSE instead of 1 / 0 ?

[2018-12-09 22:34] JanHasenauer opened #51 "Additional model: Liu et al., Sci. Signal. 9(436), ra70 (2016)"
Liu,B.,Liu,Q.,Palaniappan,S.,Bahar,I.,Thiagarajan,P.S.,Ding,J.L.:InnateImmuneMem- ory and Homeostasis May Be Conferred Through TLR3-TLR7 Pathway Crosstalk. Sci. Signal. 9(436), ra70 (2016)

[2019-01-08 08:30] JanHasenauer opened #52 "Additional Model: Jignesh H. Parmar & Pedro Mendes, PLoS CB, 2019"
https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1006680

The model is also available in BioModels

[2019-01-18 11:14] dweindl opened #53 "PEtab status of current models"
To re-test, after having installed https://github.com/ICB-DCM/PEtab/, run `for MODEL in $(ls -1d */); do (cd $MODEL && petablint.py -v -n $(basename $MODEL)); printf '=%.0s' {1..100};echo; done` on BASH in `hackathon_contributions_new_data_format`.

Note that some issues might not be in the model, but in the validator. Please report those cases.

**Update**
[code]

[2019-01-24 18:35] yannikschaelte commented on #28
Schwen has no experimentalCondition file.

[2019-02-04 10:04] dweindl commented on #48
What exactly is needed here?

[2019-02-04 13:27] dweindl commented on #11
I guess there was more that changed and is now documented in https://github.com/ICB-DCM/PEtab . Close?

[2019-02-08 10:13] elbaraim commented on #53
It can be easily done by just:
`./checkBenchmarkModels.py `

the script has been updated to the latest PEtab version

[2019-02-08 10:30] elbaraim commented on #27
sbml model file is missing

[2019-02-08 12:40] #49 closed, assigned to LeonardSchmiester

[2019-02-08 14:45] #35 closed, assigned to elbaraim, LeonardSchmiester

[2019-02-10 19:17] yannikschaelte commented on #18
discrepancy between scaling parameter names in measurement file, model, and parameters file

[2019-02-10 20:47] yannikschaelte commented on #36
resolved.

[2019-02-10 20:47] #36 closed, assigned to nobody

[2019-02-11 12:36] yannikschaelte commented on #28
The parameters offset_IR, scale_IR, sd_IR, sd_Insulin seem to appear in the measurement file, but not in the parameters file? Maybe these are offset, scale, sd?

[2019-02-11 12:37] elbaraim commented on #28
Parameter file was generated by Philipp, may be good to ask him.

May be useful to run `generate_parameter_sheet.py` ?

[2019-02-11 12:50] LeonardSchmiester commented on #28
Philipp used the parameters in the parameters sheet from `general_info`. There these parameters don't exist.
I would guess, Yannik is right, and `offset`, `scale` and `sd` where renamed adding `_IR`. Did you rename them @elbaraim?

[2019-02-11 13:09] yannikschaelte commented on #28
I think sd_Insulin is also missing, so it's not only renaming

[2019-02-11 13:12] #28 closed, assigned to elbaraim

[2019-02-13 10:20] dweindl opened #54 "Create table of benchmark models and their model/data peculiarities"
This will be helpful for others who want to add PEtab support to their tools to have appropriate test cases.

Features would include, e.g.:
- Parameterized condition table
- Replicate measurements
- Multiple model files
- ...

[2019-02-13 13:18] yannikschaelte commented on #2
I think there is in the model the assignment rule for observableParameter1_PI4K3Bt missing (maybe also others).

[2019-02-13 13:35] LoosC commented on #2
commit e415f4a7b2905fb78b54e94e35ae75b16034f95b wrongly assinged to #27

[2019-02-13 13:51] yannikschaelte commented on #2
std_ parameters for the noise parameters are missing in parameters file, but exist in measurement file

[2019-02-13 20:06] dweindl commented on #48
Is anybody working on this? What is planned there? Would be super helpful if that was machine readable...

[2019-02-13 20:51] dweindl commented on #24
offset_fluorescence missing in parameter table

[2019-02-13 20:55] dweindl commented on #25
[code]

[2019-02-13 20:56] dweindl commented on #26
[code]
@yannikschaelte : first hit ;)

[2019-02-13 21:31] yannikschaelte commented on #26
this could just be due to data being missing for a given condition, so in general this does not have to be a problem. in that case, the corresponding parameters just have to be set to nan (as is done now automatically) and one can be happy and ignore them.

could also be an issue of wrong parameter mappings though, thus I issued the warning here.

[2019-02-13 21:34] dweindl commented on #26
Please check and close if the current state is okay.

[2019-02-13 21:36] yannikschaelte commented on #26
I currently get a nllh of 358421.9661567999 which must be wrong I think, since in general_info.xslx a 2*llh of 91.89 is given. so, either that is wrong, or we are missing something in the model conversion. kind of similar situation to Schwen.

[2019-02-13 21:38] dweindl commented on #26
That value was after adding support for replicates?

[2019-02-13 21:40] yannikschaelte commented on #26
yep. since it is a nllh, adding terms can only make it larger, so we do not seem to be missing data any more now. might be some parameter scales (e.g.). in general, I think we got the correct nllh so far only for 1-condition models, so that might also be where to search.

[2019-02-13 21:44] dweindl commented on #26
Fujita has 6 conditions (if off by 50% counts as correct)

[2019-02-13 21:53] yannikschaelte commented on #26
ah. right. damn. another candidate:
* Schwen and Lucarelli have log10 observable transformations. can we handle these already?

[2019-02-13 21:56] yannikschaelte commented on #26
the 5 working models have lin observable scale.

[2019-02-13 22:03] dweindl commented on #26
I guess not.

[2019-02-14 08:21] dweindl commented on #48
Reported likelihoods, for reference:
[code]

[2019-02-14 20:19] yannikschaelte commented on #22
running the latest version of pypesto (0.0.4), there is by chance an error in pypesto.PetabImporter._check_parameter_mapping_ok, because 'observable_Ca' is not a column header in the dataframe created by ``amici.getDataObservablesAsDataFrame(model, [edata_for_condition])
``

I think this is bc in the borghans model's sbml file (https://github.com/LoosC/Benchmark-Models/tree/hackathon/hackathon_con

[2019-02-14 20:24] dweindl commented on #22
We could introduce a respective option I guess.

[2019-02-14 20:30] yannikschaelte commented on #22
strange though somehow that the column header is literally blank:

[code]

[2019-02-14 20:30] dweindl commented on #22
Blanks or really empty?

[2019-02-14 20:34] yannikschaelte commented on #22
``""``, i.e. empty. Maybe the sbml parameter name is set to ``""`` somehow if it is not filled, and then extracted here?

[2019-02-14 20:35] dweindl commented on #22
Can you report that in AMICI. If name is empty, ID should be used.

[2019-02-14 20:36] yannikschaelte commented on #22
ok! an additional option to always use ids definitely makes sense to, since the toDataFrame function is now used in two cases in pypesto.

[2019-02-21 11:46] dweindl commented on #47
As far as I know, there isn't

[2019-02-21 12:52] dweindl commented on #47
In matlab AMICI, piecewise works, for python see https://github.com/ICB-DCM/AMICI/issues/615.

Model peculiarites now listed in table in the model directory. Closing.

[2019-02-21 12:52] #47 closed, assigned to nobody

[2019-02-25 14:26] LoosC commented on #2
to continue on this issue, I need to check why its not included in the d2d export of models. I currently have problems in reproducing the d2d output and asked @elbaraim to check whether the problem also exists for her.

[2019-02-25 15:03] LoosC commented on #26
mapping should be fine? there are no observableParameters and for some noise parameters a value is given

[2019-02-25 16:08] yannikschaelte commented on #26
yeah, the observable log scale will need to be implemented first (which is most certainly one cause of trouble here), then we can see if the mapping is correct.

[2019-03-02 20:43] yannikschaelte opened #55 "Set model ids"
Since we want to use it in petab/pypesto, it would be good if every model id (in the model sbml file) is set to a clear id, e.g. the same name as that of the folder).

[2019-03-11 08:52] yannikschaelte commented on #55
done in #56

[2019-03-11 08:52] #55 closed, assigned to yannikschaelte

[2019-03-11 10:15] yannikschaelte commented on #16
When doing analysis in pypesto, a first challenge is that there are replicates (in the form of multiple observable parameters for the same condition and observable). this can be solved by adding a second condition for each of data1,2,3.
However, then I still get an objective at the nominal parameters of 1.08e8, which is much too high.

[2019-03-11 10:16] yannikschaelte commented on #16
Observable scales are linear, that's fine. Could someone look into this from the model side, whether everything is correct?

[2019-03-11 18:01] dweindl commented on #21
Whitespace around observableParameters[364] = 'offset_CIS_actd;scale_CIS_actd '.
Whitespace around parameterName[1] = 'CISEqcOE  '.
Model parameter 'sigma_pJAK2_au' neither present in condition table nor in parameter table.

[2019-03-11 18:03] dweindl commented on #7
Model parameter 'init_b10' present in both condition table and parameter table.

[2019-03-11 18:03] dweindl commented on #20
Model parameter 'Step0' neither present in condition table nor in parameter table.

[2019-03-11 18:04] dweindl commented on #16
Model parameter 'sigma_pErk' is target of AssignmentRule, and thus, must not be present in condition table or in parameter table.

[2019-03-11 18:04] dweindl commented on #25
Model parameter 'sigma_pRII' is target of AssignmentRule, and thus, must not be present in condition table or in parameter table.

[2019-03-11 18:10] dweindl commented on #29
Whitespace around observableParameters[0] = 'offset_pjak1_wb_bohl_hep_2005_02_03_Cont40ng_T90min;scale_pjak1_wb_bohl_hep_2005_02_03_Cont40ng_T90min '.
and others

[2019-03-11 18:11] dweindl commented on #1
Model parameter 'spline_t_0' neither present in condition table nor in parameter table.

[2019-03-18 00:53] LoosC commented on #16
Its not present in the condition table, but its a parameter which is estimated and thus listed in the parameter table, right?

[2019-03-18 01:07] LoosC commented on #1
aaah the spline, need to think about how to treat this one...

[2019-03-18 06:54] dweindl commented on #29
[code]

Some observableParameters are separated by colon instead of semicolon

[2019-03-18 11:27] #29 closed, assigned to LoosC

[2019-03-19 06:43] dweindl commented on #25
[code]

There might still be a couple more

[2019-03-19 07:39] JanHasenauer commented on #25
Sorry, I forgot to save one of the files.

I guess the error message could be more informative. Currently, the observable reported does not contain sigma_pRII_Western.

[2019-03-19 07:42] dweindl commented on #25
It's two independent issues

[2019-03-19 07:44] dweindl commented on #25
Second issue is solved, but the reporter measurement line still has too few `observableParameters`

[2019-03-19 09:20] yannikschaelte commented on #24
same probably for scaling_fluorescence and sd_fluorescence. However, there exist suspicious scale and sigma parameters in the parameter tsv

[2019-03-19 10:49] elbaraim opened #57 "Additional Model: Blasi et al. , Cell Systems, 2016"

[2019-03-19 11:14] yannikschaelte commented on #22
measurement file: measurement column should be not logged.

Although the column observableTransformation is log10, the measurements should be contained in lin scale, as the trafo will be applied later.

[2019-03-19 11:16] yannikschaelte commented on #22
to specify: I guess it was log10'ed, not log'ed.

[2019-03-19 16:50] elbaraim commented on #52
model is done

[2019-03-19 16:58] #24 closed, assigned to elbaraim

[2019-03-19 17:05] elbaraim commented on #20
it is defined as a constant set to 0
`<parameter id="Step0" value="0" constant="true"/>` line 719

[2019-03-19 17:06] elbaraim commented on #20
none of the steps are defined in the experimental data nor condition file

[2019-03-19 17:06] dweindl commented on #20
Okay, will check what's wrong there with the validator

[2019-03-19 17:13] dweindl commented on #20
Yeah, was an error there.

[2019-03-19 18:42] LoosC opened #59 "Additional model: Casaletto, PNAS 2019"
A new model in the d2d examples, potentially interesting to also implement it here?
https://github.com/Data2Dynamics/d2d/tree/master/arFramework3/Examples/Casaletto_PNAS2019

[2019-03-19 21:10] dweindl commented on #59
Let's see how far the d2d PEtab export will develop during the INCOME hackathon...

[2019-03-20 09:14] LeonardSchmiester commented on #52
No std def for pOut. Need to do error propagation to calculate it.

[2019-03-20 09:30] paulstapor commented on #14
When running importer.create_objective(), I get:

[code]

[2019-03-20 10:51] JanHasenauer opened #60 "Write function to generate benchmark_model_characteristics.xlsx automatically"
Most of the fields are very easy to fill. We simply need the bibtex files for the models in the respective folders and (optional) also a remark file (in case several models are described in the respective paper.

[2019-03-20 10:52] JanHasenauer commented on #60
Could also be integrated with #54

[2019-03-20 10:54] JanHasenauer commented on #60
Related to but not identical with #48

[2019-03-20 11:01] #6 closed, assigned to JanHasenauer

[2019-03-20 11:10] LeonardSchmiester commented on #59
Do you know from which paper it is? Can't find any PNAS paper from 2019 with that author...

[2019-03-20 11:26] LoosC commented on #59
no, maybe its not pubished yet?

[2019-03-20 12:10] paulstapor commented on #4
This model has observable dependent noise Parameters. Has to be fixed in AMICI, see ICB-DCM/AMICI#609

[2019-03-20 12:54] elbaraim commented on #57
Model parameter 'a_k5' neither present in condition table nor in parameter table.

[2019-03-20 13:03] elbaraim commented on #57
Model parameter 'd' neither present in condition table nor in parameter table.

[2019-03-20 15:01] LoosC opened #61 "Additional model: Korkut, 2015, eLIFE"
From the paper _Perturbation biology nominates upstream–downstream drug combinations in RAF inhibitor resistant melanoma cells_, Korkut et al. eLife 2015;4:e04640, huge parameter space

[2019-03-20 21:11] yannikschaelte opened #62 "Use petab validator and restrict access to main branch"
I'd suggest: At some point, https://github.com/icb-dcm/petab should be run automatically as a test and used to check every new model before adding it to the official list of models, or essentially every pull request, also restricting access to the main branch (but only once all are fine, not now yet ;) )

[2019-03-20 21:13] yannikschaelte opened #63 "Remove old files from benchmark repo and history"
There are a lot of old files (from d2d export?) that are not needed for the new petab format, totalling to >400MB. Since downloading that is cumbersome, can we get rid of that old stuff maybe?

[2019-03-21 07:57] dweindl commented on #63
Not so trivial on github. That pretty much means creating a new repository. Would do that along with merging changes back to upstream. There we should then have one model/data-only repository, and separate repos for any analyses.

[2019-03-24 11:09] LeonardSchmiester commented on #59
Here it is: https://www.pnas.org/content/early/2019/03/20/1819085116.short?rss=1

[2019-03-25 12:16] #22 closed, assigned to LoosC

[2019-03-27 14:20] LeonardSchmiester commented on #57
sigma is missing in parameters sheet.
Also, I tried to optimize the model and the simulations are equal to zero for all parameters.

[2019-04-02 07:16] dweindl commented on #62
I'd add that right away so that on every commit to whatever branch we see which models are fine and which are not. Volunteers?

[2019-04-02 19:17] dweindl commented on #21
*ping*

[2019-04-02 19:21] dweindl commented on #7
*ping*

[2019-04-02 19:24] dweindl commented on #16
`sigma_pErk` is reserved for specifying the noise model. The parameter which is to be used cannot have the same name. That is sometimes unfortunate, but it is what we currently require in PEtab. So the `sigma_pErk` in the measurement table needs to be changed to something else.

[2019-04-02 19:27] dweindl commented on #52
[code]

[2019-04-03 06:09] LoosC commented on #21
*Zeitüberschreitung der Anforderung*

(... will take care of it soon)

[2019-04-03 07:01] dweindl commented on #53
Now running automatically, see https://travis-ci.com/LoosC/Benchmark-Models

[2019-04-03 07:01] #53 closed, assigned to nobody

[2019-04-03 07:02] dweindl commented on #62
Validator now running on travis, but will succeed despite validation passing. Change when most models have been fixed.

[2019-04-04 12:48] erikadudki opened #65 "Add visualization routine for Isensee_JCB2018, related to issue in Petab/AddVisualizationRoutine"
add visualization routine for measurement data based on visualizationSpecification.tsv

[2019-04-09 11:33] LoosC commented on #2
@elbaraim what is the state of this?

[2019-04-09 12:02] #16 closed, assigned to LoosC

[2019-04-09 12:12] LoosC commented on #2
d2d export for benchmark models did not extract noise parameters to general_info file

[2019-04-09 14:57] LeonardSchmiester commented on #14
The issue with sigma should be fixed.

[2019-04-10 07:18] LeonardSchmiester commented on #7
I hope I fixed it. Will check when condition specific parameters issues in PEtab are fixed.

[2019-08-13 09:25] jvanhoefer commented on #18
I just found that all modifiers specified in the model seem to be wrong, since they match neither the kinetics nor the reactions described in the paper... Therefore I suggest to dele them.

[2019-08-13 09:27] yannikschaelte commented on #18
what modifies for example?

[2019-08-13 09:30] jvanhoefer commented on #18
In reaction 1:
[code]
In reaction 2:
[code]
In reaction 5:
[code]

[2019-08-13 09:52] yannikschaelte commented on #18
hm not sure if I see the problem. modifiers are used in sbml to describe e.g. enzymes, i.e. neither destroyed nor produced in the reaction http://sbml.org/Software/libSBML/5.17.0/docs/python-api/classlibsbml_1_1_modifier_species_reference.html. I didn't look in detail enough to know if e.g. in reaction 1 the double mention as a product _and_ as a modifier has any consequences, or is actually neces

[2019-08-13 10:24] jvanhoefer commented on #18
I know and it should not have any consequences on model simulation, since the modifier does not change in the reaction and therefore a modifier does not come up in left hand side of the equation. But still it is wrong information in the model, which has an effect if you want to use this information for other stuff (as I currently do :) )

[2019-08-13 10:34] jvanhoefer commented on #18
I fixed that.

[2019-08-20 08:45] erikadudki commented on #14
when running `checkBenchmarkModels.py`, I get:
`Model parameter 'sigma_Bacnorm' is target of AssignmentRule, and thus, must not be present in condition table or in parameter table.
Not OK
`

[2019-08-20 08:52] erikadudki commented on #65
is now example for visualization routine in PEtab

[2019-08-20 08:52] #65 closed, assigned to MerktSimon, erikadudki

[2019-08-20 09:04] erikadudki opened #67 "Additional model: Perelson, Science 1996"

[2019-08-20 09:05] erikadudki commented on #67
`Model parameter 'sigma_task0_model0_perelson1_V' is target of AssignmentRule, and thus, must not be present in condition table or in parameter table.
`

[2019-08-20 09:29] MerktSimon opened #68 "Visualization files for all models (list)"
This issue serves as an overview of which models already have the visualization file. During the work on each model this model's issue should be re-opened. Once all models have one this can be closed.

Models which already have a visualization file:
- Isensee
- Fujita

[2019-08-20 09:43] MerktSimon commented on #68
Since a lacking visualization file is not a PEtab error, reopening #53 didn't seem to fit. But of course this can be discussed. Also re-opening all models' issues could work but seems a bit confusing

[2019-08-20 11:23] erikadudki commented on #20
working now on the visualization specification file

[2019-08-20 13:06] erikadudki commented on #20
@elbaraim : could you check the simulation values
in the simulation.tsv the simulation data is in the range of [0,4], in the measurement.tsv, the data is in the range of [0,90]...

[2019-08-20 14:09] erikadudki commented on #20
@elbaraim : could you check: in the measurement file for simulation conditions model1_data3 and model1_data4, the data seems to be the same? should not be the case, for different conditions?

[2019-08-20 14:14] LeonardSchmiester commented on #13
Do we still want to have this?

[2019-08-20 14:45] paulstapor commented on #13
I thiink we agreed on some point that a yaml-ish file might be a good start here. But I think this is rather low prio...

[2019-08-20 14:54] LeonardSchmiester commented on #14
fixed

[2019-08-20 14:54] #14 closed, assigned to LeonardSchmiester

[2019-08-20 14:56] yannikschaelte commented on #13
yes, we/I started using yaml for that. it is medium prio when it comes to parallelization

[2019-08-20 16:48] elbaraim commented on #20
I will look into this, thanks for posting!

[2019-08-21 10:41] LeonardSchmiester commented on #26
Log observables are implemented now right? Can this issue be closed?

[2019-08-21 10:43] yannikschaelte commented on #26
should be fine

[2019-08-21 10:43] LeonardSchmiester commented on #2
What's the status here @elbaraim, @LoosC ?

[2019-08-21 10:50] #26 closed, assigned to LoosC

[2019-08-22 13:21] JanHasenauer opened #69 "Add http://www.jbc.org/content/281/13/8917.full"

[2019-08-27 07:56] yannikschaelte opened #70 "Multiple models in publication"
@LeonardSchmiester @PhilippStaedter please add details.

We should discuss what to do when we have multiple models in one publication. Say all use the same data and experimental conditions. So the models describe the same stuff, but maybe in more or less detail or alternative networks.

One could put all such models in the same folder and just enumerate / make the names unique. Alternative suggest

[2019-08-27 07:56] yannikschaelte commented on #70
see also #43

[2019-08-27 08:01] LeonardSchmiester commented on #70
In these cases parameters are seperated individually for every model right? But we also have cases, with different models but all in one parameter estimation (e.g. Becker)?

Maybe use subfolders for individual optimizations within the same publication?

[2019-08-27 08:05] yannikschaelte commented on #70
good point. I guess in this case some of the parameters coincide, while others are model specific. thus one could do subfolders, or just separate folders on the global level, à la Kouril2021Model1, 2.

[2019-08-27 08:08] LeonardSchmiester commented on #70
In favor of subfolders as it might get crowded for publications with a lot of models. Might also be easier, if you want to specify model selection.

[2019-09-16 18:14] LeonardSchmiester opened #71 "Add Jafarnejad et al."
Add model from https://www.nature.com/articles/s41540-019-0107-2

[2019-09-17 07:53] erikadudki opened #72 "Additional model: Alkan_DDRP_SciSignal2018"
a new model in the d2d-examples exist
https://github.com/Data2Dynamics/d2d/tree/master/arFramework3/Examples/Alkan_DDRP_SciSignal2018
maybe adding to the Benchmark-collection?

[2019-09-17 13:58] MerktSimon commented on #71
Although availability of data and model is claimed, it does not appear in the supplementary section. I will write them an email.

[2019-10-02 08:10] LeonardSchmiester commented on #71
Did you get data and model by now @MerktSimon?

[2019-10-02 09:20] MerktSimon commented on #71
Model yes, data not yet. There might be the option to collect it ourselves, though. Because all data used seems to be published before by several labs.

[2019-10-02 09:22] elbaraim commented on #71
I thought the plan was also to ask the authors ? How is the status on this ?

[2019-10-02 09:24] MerktSimon commented on #71
They provided the SBML model. But not yet the data. I can ask again, in case the second email was lost.

[2019-10-04 11:40] LeonardSchmiester opened #73 "Where to host benchmark repository?"
We discussed, that we want to host this repository somewhere else. I would suggest the benchmark-initiative project (https://github.com/Benchmarking-Initiative), if that is possible.

I guess it would be good to create a clean project there to get rid of the old matlab files (related to issue #63) and copy the issues from here to the new repository.

Any opinions?

[2019-10-04 11:57] paulstapor commented on #73
No need to track the Matlab files in the history, that's just unnecessary storage.
If necessary due to the last publication, I would suggest plugging the initial commit on zenodo, if this isn't done automatically anyways...
Then we're definitely safe to prune out Matlab from the history...

[2019-10-04 12:08] dweindl commented on #73
Strongly in favor of having this at https://github.com/Benchmarking-Initiative.

As the publication promises matlab code and analyses at https://github.com/Benchmarking-Initiative/Benchmark-Models, maybe it would be good to put them in a Benchmark-Models-V2 repository there, which is a bit more lightweight. The README could include a link to the new repo.

Should be discussed with current owners/m

[2019-10-04 12:10] paulstapor commented on #73
Alternatively: Benchmark-models-PEtab might be a good name

[2019-10-04 12:15] LeonardSchmiester commented on #73
Sounds good. Then we should discuss with Clemens if he can give us owner rights there.

[2019-10-04 12:16] dweindl commented on #73
First project for https://www.integrative-pathway-models.de/meetings/income2019-conference-and-hackathon/index.html ?

[2019-11-04 13:43] LaraFuhrmann commented on #72
Corrected input parameters

[2019-11-28 11:27] LeonardSchmiester commented on #2
Manually added the noise parameters now

[2019-11-28 11:27] #2 closed, assigned to nobody

[2019-11-28 13:33] dweindl commented on #4
In the parameter table there are scaling parameters suffixed with '_obs', e.g. `scale_pIL4Ra_obs`. In the measurement file they are not (e.g. scaling_pIL4Ra)

[2019-11-28 15:32] LeonardSchmiester commented on #4
fixed by commit f2c64bb7e23093a438d16f6be7ecd2700bca87bf

[2019-11-28 15:32] #4 closed, assigned to LeonardSchmiester

[2019-11-28 15:50] fbergmann commented on #7
experimentalCondition file `experimentalCondition_Bruno_JExpBio2016` has a column for `init_b10_1` with assignment `init_b10`. I believe this should be the other way around, we want the model parameter `init_b10` to be fitted with fit item `init_b10_` for experimental condition1

[2019-11-28 15:54] LeonardSchmiester opened #74 "Add link to publication to e.g. SBMLmodel"

[2019-11-28 16:04] MerktSimon opened #75 "Additional Model: D’Alessandro LA, Samaga R, Maiwald T et al. PLoS CB 2015"
https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1004192

[2019-11-28 16:06] MerktSimon commented on #71
So the data is available through other publications. I will do #75 first, since this is the main source for theused data.

[2019-11-28 16:17] LeonardSchmiester commented on #74
In rdf annotation or notes

[2019-11-28 16:47] MerktSimon commented on #68
Fujita does not actually have a file yet. It only serves as example for no-file visualization in PEtab.
Hence I removed it from the list. Thanks @erikadudki for pointing it out.

[2019-11-28 17:00] erikadudki commented on #68
I just added a visualization file for the **Chen** model.

[2019-11-29 09:18] erikadudki commented on #68
I will work now on the visualization file for the Fujita model.

[2019-11-29 09:29] LeonardSchmiester commented on #20
Need to update data!

[2019-11-29 09:29] LeonardSchmiester commented on #20
@elbaraim ! :rage:

[2019-11-29 09:33] LeonardSchmiester commented on #60
@yannikschaelte is this still open?

[2019-11-29 09:36] yannikschaelte commented on #60
yes

[2019-11-29 10:02] dweindl commented on #72
What's the reason for the NaN measurements included here? https://github.com/LeonardSchmiester/Benchmark-Models/blob/hackathon/hackathon_contributions_new_data_format/Alkan_SciSignal2018/measurementData_Alkan_SciSignal2018.tsv#L488

[2019-11-29 10:26] LeonardSchmiester commented on #18
Include additional exp data from paper

[2019-11-29 10:40] erikadudki commented on #68
working now on **Boehm**

[2019-11-30 09:24] dweindl opened #76 "TravisCI not triggered on commit"
... since moving the repository. I set up a daily cronjob (https://travis-ci.com/LeonardSchmiester/Benchmark-Models/builds) but this should be fixed anyways.

[2019-11-30 10:15] fbergmann commented on #18
the sbml is currently invalid, will make a pull request

[2019-12-01 12:38] LeonardSchmiester commented on #18
@elbaraim wanted to add additional data and needed to update the model. I guess it's still work in progress.

[2019-12-01 12:41] dweindl commented on #18
-> #78

[2019-12-01 13:29] LeonardSchmiester commented on #74
Closed by commit db224f0

[2019-12-01 13:29] #74 closed, assigned to LeonardSchmiester

[2019-12-01 13:32] LeonardSchmiester commented on #7
Should be fixed by #77

[2019-12-01 13:32] #7 closed, assigned to LeonardSchmiester

[2019-12-01 13:50] dweindl commented on #67
[code]

[2019-12-02 08:13] fbergmann commented on #24
as mentioned during the hackathon, we can only correctly simulate this model, if we transform the measurement values. in discussions at the hackathon, it became clear that this should not happen. In which case the measurement data seems off. I'll make a pull request with the transformed data.

[2019-12-03 23:53] dweindl opened #80 "observableTransformation of Measurement data for Becker, Borghans & Blasi case #145"
https://github.com/ICB-DCM/PEtab/issues/145 (Can't move across users/organizations)

[2019-12-04 09:48] elbaraim opened #81 "Change parameter and simulated data values to LINEAR scale"
- Nominal parameter values listed in the parameter files will be entered in LINEAR scale.
- Simulated data values will be entered in LINEAR scale.

## The following models need to be updated

- [x] Alkan_SciSignal2018
- [x] Brannmark_JBC2010
- [x] Fiedler_BMC2016
- [x] Merkle_PCB2016
- [x] Raia_CancerResearch2011
- [x] Sobotta_Frontiers2017
- [x] Bachmann_MSB2011
- [x] Blasi_CellSystems2016
- [x]

[2019-12-10 17:58] JanHasenauer opened #82 "Add model Berndt_BJC_2019"
https://www.nature.com/articles/s41416-019-0659-3

[2019-12-10 17:59] JanHasenauer opened #83 "Add model Brendt_NatComm_2018"
https://www.nature.com/articles/s41467-018-04720-9

[2019-12-13 14:55] #81 closed, assigned to elbaraim, LeonardSchmiester

[2019-12-13 18:08] elbaraim commented on #76
did @LeonardSchmiester enable travis on the repository after moving/transfering?

[2019-12-17 09:42] dweindl opened #85 "Schwen_PONE2014 measurements are in log scale, but should be lin"
... (the measurements should be adapted, not the observableTransformation) as recently clarified in PEtab.

At least that is what i assume from the negative values there.

[2019-12-17 09:53] dweindl commented on #85
Same for Bachmann_MSB2011, Hass, Lucarelli, Sobotta

[2020-01-15 13:47] #80 closed, assigned to nobody

[2020-01-15 13:49] LeonardSchmiester commented on #13
yaml files exist now. Issue can be closed

[2020-01-15 13:49] #13 closed, assigned to nobody

[2020-01-17 16:48] LeonardSchmiester commented on #72
[code]
Seems like for every observable, there exists a parameter `observable_ID` and a parameter `ID`
@LaraFuhrmann: Can you take care of this?

[2020-01-18 18:40] dweindl opened #86 "Update PEtab yaml files to include visualization files"
Supported in PEtab with https://github.com/ICB-DCM/PEtab/pull/224/files

[2020-01-19 21:34] yannikschaelte opened #87 "Update PEtab parameter files to prior specification"
w.r.t. https://github.com/ICB-DCM/PEtab/pull/222, https://github.com/ICB-DCM/PEtab/issues/218

[2020-01-20 08:37] LaraFuhrmann commented on #72
I deleted the parameters with only ID inn the SBML, since they were not used. Now there are only parameters observable_ID.

[2020-01-20 08:39] LeonardSchmiester commented on #72
Thank you! Import works fine now :+1:

[2020-01-20 08:39] #72 closed, assigned to LaraFuhrmann

[2020-01-20 09:50] LeonardSchmiester commented on #59
@elbaraim you worked on this model, right?! The columns in the measurement file are mixed up.
E.g. measurement values are in the `simulationConditionId` column etc.

[2020-01-20 15:02] dweindl commented on #86
- [x] While we are at it: update version field https://github.com/ICB-DCM/PEtab/pull/231

[2020-01-21 10:35] LeonardSchmiester commented on #85
Should be fixed by 776d73775beadf930cd651c0f0d3cee357089f2b

[2020-01-21 10:35] #85 closed, assigned to nobody

[2020-01-21 22:59] dweindl commented on #21
Observables are defined as `log10(...)` and `observableTransformation` is `log10`. Is this really what it is supposed to be?

[2020-01-21 23:30] #86 closed, assigned to dweindl

[2020-01-22 07:31] LeonardSchmiester commented on #21
Probably not :wink: need to remove log10 from SBML model

[2020-01-22 13:07] #87 closed, assigned to LeonardSchmiester

[2020-01-22 15:44] LeonardSchmiester commented on #18
@elbaraim What's the status here? Is this finished?

[2020-01-22 16:54] elbaraim commented on #18
@LeonardSchmiester I think it was closed to be finished. Will look in to this.

[2020-01-28 09:15] LeonardSchmiester commented on #21
Closed by 36fe835058da53bb55073b862407e6d0540fed75

[2020-01-28 09:15] #21 closed, assigned to LoosC

[2020-02-06 08:26] #67 closed, assigned to PhilippStaedter

[2020-02-06 08:29] #11 closed, assigned to nobody

[2020-02-06 08:32] LeonardSchmiester commented on #25
`Missing parameter(s) in parameter table: {'rho_Calpha_Microscopy'}`

[2020-02-06 14:42] LaraFuhrmann commented on #68
Added visualization file for **Swameye_PNAS2003**.
Plots fit with the plots in the publication.

[2020-02-07 10:21] LaraFuhrmann commented on #68
Added visualization file for **Bruno_JExpBio2016**.
Measurements of model1_data3 and model1_data6 seem a bit odd to me, since some measurements are in the range of [0,3] and others in the range of [1000,2500]

[2020-02-10 08:52] erikadudki commented on #68
added visualization file for **Raia_CancerResearch2011**

[2020-02-10 08:57] dweindl commented on #68
Would be great if you could also update the YAML files when adding new vis tables (see Bruno for example).

[2020-02-12 08:41] LeonardSchmiester opened #89 "Add new model Salazar-Cavazos et al. (2020), MBoC"
https://www.molbiolcell.org/doi/suppl/10.1091/mbc.E19-09-0548

[2020-02-12 08:42] LeonardSchmiester opened #90 "Add new model Lai et al. (2012)"
https://link.springer.com/protocol/10.1007%2F978-1-61779-833-7_6

[2020-02-12 08:42] LeonardSchmiester opened #91 "Add new model Dudziak et al. (2019)"
https://www.sciencedirect.com/science/article/pii/S0022519319301936

[2020-02-12 08:44] LeonardSchmiester opened #92 "Add new model Mikelson et al. (2019)"
https://www.embopress.org/doi/full/10.15252/msb.20198947

[2020-02-12 08:44] LeonardSchmiester opened #93 "Add new model Leonhardt et al. (2014)"
https://www.sciencedirect.com/science/article/pii/S1549963413006734?via%3Dihub

https://www.nature.com/articles/s41540-018-0079-7

PESTO Example: https://github.com/ICB-DCM/PESTO/tree/master/examples/mRNA_transfection

[2020-02-12 08:45] LeonardSchmiester opened #94 "Add new model Rodman et al. (2019)"
https://www.sciencedirect.com/science/article/abs/pii/S0098135418305714

[2020-02-12 08:48] paulstapor commented on #93
If Fabi's version is used, it's Froehlich et al. ;)

[2020-02-13 08:22] fbergmann opened #95 "issue with measurement data in Bruno_JExpBio2016"
the newly added data sets `model1_data3` and `model1_data6` seem to be in the wrong scale.

[2020-02-13 08:31] LeonardSchmiester commented on #95
What do you mean exactly? Measurement values are all positive and as far as I can see it, there were no newly added datasets in the measurement file

[2020-02-13 08:33] LeonardSchmiester opened #96 "Update simulatedData files"
Files need to be updated to new PEtab format. Change column header to `simulation`

[2020-02-13 08:42] fbergmann commented on #95
All simulations in that model are in the range of 0..4 the data in data3 and data6 are however in the range of 0...2800 ... so they don't match. this happened in commit

dda334ad97fd8a15abcb8f79fb4dd3410dfc98ff

[2020-02-13 08:46] LeonardSchmiester commented on #95
Ah true. Apparently, the `.` got lost on the way there. Thank you for pointing that out.
@LaraFuhrmann I think you have to change your decimal seperator settings. Can you revert the changes and also check for other models, that you worked on.

[2020-02-13 08:59] fbergmann opened #97 "conflict introduced in bachmann observable table"
The commit

36fe835058da53bb55073b862407e6d0540fed75

broke the observable file

[2020-02-13 09:06] LeonardSchmiester commented on #95
Same issue for swameye at the moment

[2020-02-13 09:07] LeonardSchmiester commented on #97
should be fixed now

[2020-02-13 09:07] #97 closed, assigned to nobody

[2020-02-13 09:30] LeonardSchmiester commented on #95
Swameye and Bruno are fixed now.

[2020-02-13 09:30] #95 closed, assigned to nobody

[2020-02-14 08:52] dweindl opened #98 "Fix observableIds shadowing species IDs"
Fix observable IDs shadowing IDs of species or other SBML entities

see https://github.com/PEtab-dev/PEtab/issues/292#issue-564832327

also affects:

- [x] Schwen_PONE2014
- [x] Zheng_PNAS2012

[2020-02-14 08:58] erikadudki commented on #4
While adding the visualization table and comparing the visualization to the publication, it occurs that some datasets are missing (in the measurement and simulation files) ? Is this on purpose?
e.g. For
- pIL4Ra, pJAK2, pSTAT5: data1, data4
- RecSurf: data2
- SOCS3: data3
- CD274mRNA: data2, data4

Furthermore, for pIL4Ra the simulation for model1_data2 quite underestimates the data, don't know if

[2020-02-17 13:21] LeonardSchmiester commented on #98
Schwen, Zhen, Parmar and Bachmann have unique observable Ids now

[2020-02-19 14:55] fbergmann opened #101 "observable file in Bachmann lists observableId multiple times"
In the `observables_Bachmann_MSB2011.tsv` the same observable

 - observable_CISRNA_foldA
 - observable_CISRNA_foldB
 - observable_CISRNA_foldC
 - observable_CIS_abs
 - observable_CIS_au
 - observable_CIS_au1
 - observable_CIS_au2
 - observable_SHP1_abs
 - observable_SOCS3RNA_foldA
 - observable_SOCS3RNA_foldB
 - observable_SOCS3RNA_foldC
 - observable_SOCS3_abs
 - observable_SOCS3_au
 - observabl

[2020-02-19 15:05] fbergmann opened #102 "measurement data in `Blasi_CellSystems2016` mistakenly transformed?"
It seems like the measurement data in `Blasi_CellSystems2016` was transformed unintentionally. Back in the Berlin hackathon the data looked like this:

[code]

now it looks like so

[code]

while the original data did mention `observableTransformation`, the data should not have been transformed.

[2020-02-19 15:07] fbergmann commented on #102
The same issue applies to `Borghans_BiophysChem1997`

[2020-02-19 15:14] fbergmann opened #103 "duplicated id in `Crauste_CellSystems2017`"
The observables table in Crauste defines observableIds:

EarlyEffector
LateEffector
Memory
Naive

These are speciesIds in the model.

[2020-02-19 15:20] #101 closed, assigned to nobody

[2020-02-19 15:49] #103 closed, assigned to nobody

[2020-02-19 15:53] LeonardSchmiester commented on #102
Borghans should be fixed. For Blasi I'm not sure, if the original data was uploaded in log scale (then the current data should be fine) or in lin scale. @elbaraim Do you know this?

[2020-02-19 16:23] LeonardSchmiester commented on #18
@elbaraim any updates here?

[2020-02-19 17:02] yannikschaelte commented on #98
should all be fine now

[2020-02-19 17:02] #98 closed, assigned to yannikschaelte

[2020-02-19 21:18] yannikschaelte opened #105 "Adjust simulatedData files to new format"
At least some simulatedData files have not been adjusted to the obervable file introduction -- still have observableTransformation columns. Not sure if some do not apply proper scaling of "simulation"s to linear scale, maybe also worth checking.

[2020-02-20 06:02] LeonardSchmiester commented on #105
See issue #96

[2020-02-20 07:38] yannikschaelte commented on #105
right. github didn't show me that one :/

[2020-02-20 07:38] #105 closed, assigned to nobody

[2020-02-20 17:53] yannikschaelte commented on #57
This model can be simulated in pypesto now, however most simulations remain near-zero (e.g. 1e-40, 1e-20). Any ideas what could be wrong @elbaraim @LeonardSchmiester ?

[2020-02-21 09:09] fbergmann opened #107 "measurement data in Schwen_PONE2014"
The measurement data in Schwen_PONE2014 looks odd as well, could you verify.

[2020-02-21 09:19] fbergmann opened #108 "obsevableId in Raia shadows model id"
the observable file defines id that shadow species ids in the model.

[2020-02-21 09:31] fbergmann commented on #108
same for `Korkut_eLIFE2015`

[2020-02-21 09:33] LeonardSchmiester commented on #107
You mean because the data spreads over multiple orders of magnitude? As far as I can tell this was already in the initial upload the case

[2020-02-21 09:51] fbergmann commented on #107
But looking t the original data file `model1_data10.xlsx`, the data is different. The data at the time of the Berlin hackathon was identical to the data from this excel file.

[2020-02-21 10:08] LeonardSchmiester commented on #107
The data was initially in log10 scale and transformed to linear scale now. Otherwise I it looks identical to me.

[2020-02-23 14:36] LeonardSchmiester commented on #108
Closed by 54fc4f7fb51292577bc914f911513bd8e4087d88 and 5001dd98796075aabf0d0e4d08c479b5cd87b856

[2020-02-23 14:36] #108 closed, assigned to nobody

[2020-02-24 11:40] LeonardSchmiester opened #109 "Add PEtab version info to files"
See: https://github.com/PEtab-dev/PEtab/issues/309

[2020-02-26 09:56] #73 closed, assigned to LeonardSchmiester

[2020-02-26 09:58] #25 closed, assigned to JanHasenauer

[2020-02-26 10:00] LeonardSchmiester commented on #63
New clean repository created now

[2020-02-26 10:00] #63 closed, assigned to nobody